.messenger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  background-color: rgb(38, 38, 38);
  width: 100%;
}

.name-input {
  width: 95%;
  height: 40px;
  font-family: 'Roboto', sans-serif;
}

.message-field {
  display: flex;
  width: 95%;
}

.message-input {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  height: 35px;
  word-wrap: break-word;
}

.message-btn {
  height: 40px;
  width: 40px;
  margin-left: 2px;
}

.message-btn:hover {
  background-color: #81D8F7;
  color: white;
  font-weight: bold;
}

.emoji {
  color: white;
  margin-left: 6px;
}

.emoji:hover {
  color: #81D8F7;
}

@media only screen and (min-width: 500px) {
  .messenger {
    width: 400px;
  }

  .message-input {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .messenger {
    width: 500px;
  }
}