body {
  background-color: rgb(27,51,107);
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cinque-chat-head {
  font-family: 'Patua One', sans-serif;
  text-align: center;
  color: #81D8F7;
}